.navbar__contents {
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	background-color: whitesmoke;
	z-index: 1;
	color: white;
}

.navbar__contents > img {
	padding: 10px;
	height: 85px;
	width: 300px;
}
